@model IEnumerable<Контроль_и_Учет_v1._2.DB_ModelContext.Documents>

@{
    ViewBag.Title = "SearchDocuments";
}


<h2>Поиск документа в каталоге:</h2>
<hr />

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()


<label>Введите номер документа </label>

    <form>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label class="sr-only" for="Номер документа №">Номер документа №</label>
                    <input id="documentsNumber" class="form-control" type="text" placeholder="Номер документа №" />
                </div>
            </div>

        </div>

        <p> </p>

        <p> </p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="SearchDocuments" type="button" value="Поиск" class="btn-success btn-lg" />
            </div>
        </div>


        <div id="myDiv"></div>

    </form>



}


<div>
    @Html.ActionLink("Вернутся назад", "Index", "Firm")
</div>

<script src="~/Scripts/MyJavaScript/SearchJS/SearchDocumentJavaScript.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
